<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Connect Broker</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>
            <span>You didn't connect to your broker, click the button below to connect to your broker:</span>
        </p>

        <p>
            <button type="button" class="btn btn-pill btn-block btn-primary" (click)="connectBroker()">
                <i class="fa fa-plug"></i>
                Connect to broker
            </button>
        </p>
    </div>
</ng-template>